.card{
    margin: 10px;
    box-sizing: 0 px 30px 60px -20px rgba(0,0,0,0.25);
    cursor: pointer;
    width: 370px;
    height: 520px;
    left: 120px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
}


.card:hover{
    transition: all 0.25s ease-in-out;
    transform: scale(1.07);
}



.card > img {
    width: 330px;
    height: 220px;
    box-shadow: 0px 25px 30px -10px rgba(0,0,0,0.2);
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
}



.card_info{
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}



.card_info > h2 {
    font-family: "Lexend";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}



.card_info > h4 {
    font-family: "Lexend";
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.card_button{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card_button > button {
    color: black;
    background-color: #EB8A04;
    font-family: "Lexend";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    height: 54px;
    width: 330px;
    border-radius: 0px;
    border: none;
    margin-bottom: 22px;
}